@import '../../../varible.css';
.home{
    padding: 10px 20px !important;
    font-family: var(--font) !important;
    ;
}

/* ======= card sec ===-== */
.cat-name{
background: var(--theme-color);
border-radius: 5px !important;
padding: 3px 10px !important;
color: white;
font-size: 12px !important;
}
.card-sec{
    border: 2px solid var(--color);
    border-radius: 20px;
    padding: 30px;
}
.card-box{ 
 padding: 20px;
 border-radius: 20px; 
 background-color: var(--rgba);
position: relative;
margin-top: 20px !important;

}
.card-head{
    display: flex;
    justify-content: space-between;
    font-size: var(--small-font);
}
.icon-box{
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 43px;
    background:var(--theme-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-box .band{
    position: absolute;
    top: -3px;
    right: -3px;
    width: 17px;
    height: 17px;
    border-radius: 20px;
    background-color: var(--white);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 12px;
}
.icon-box .band p{
    margin-bottom: 0px;
}
.icon-box svg{
    color: var(--white);
}
.btm-text{

    font-weight: var(--lower-weight);
    font-size:12px !important;
    color: var(--color);
}
.action{
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
}
.action-btn{
    background-color: var(--color) !important;
    color: white !important;
    border: 4px solid white !important;
}
.card-heading{
    font-weight: bold !important;
    color: var(--color) !important;
}

