@import '../../../varible.css';

/* .css-19kzrtu {
    padding: 0px !important;
} */
.btn-template{
margin: 0px !important;
}
.btn-template{
    margin-right: 2px !important;
}
.css-10d9dml-MuiTabs-indicator{
    display: none !important;
}
.questions-box input{
    border-radius: 5px !important;
    background-color: var(--rgba) !important;
    border: 2px solid transparent !important;
    padding: 10px 10px !important;
}
.questions-box input:focus{
    border: 2px solid var(--color) !important;
}
.questions-box{
    font-family: var(--font) !important;
    border-radius: 10px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    padding: 20px;
    background: var(--theme-color) !important;
}
.question-head{
    border-bottom: 1px solid var(--color);
    background-color: var(--white);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}
.question-body{
    min-height: 100px !important;
    background-color: var(--white);
    padding: 10px;
}
.question-body ul li{
    list-style-type: none;
    color: var(--color) !important;
   
}
.answer{
    display: flex;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 10px;
    margin-bottom: 25px !important;
}
h6{
    color: var(--dark);
}
/* =====date answer====== */
.first{
    position: relative;
    display: flex;
    flex-direction: column;
}
label{
    font-size: var(--smaller-font);
    font-weight: var(--lower-weight);
    margin-left: 5px;
    margin-bottom: 5px;
}
.date-input{
    width: 170px !important;
}
.time input{
    width: 70px !important;
}

.time select{
    width: 100px !important;
    border-radius: 5px;
    padding: 6px 10px !important;
    background-color: var(--rgba);
    border: 2px solid transparent;
}
.time select:focus{
    border: 2px solid var(--color);
}
/* ========= Dosage ========= */
.mg{
    position: absolute;
    top: 50%;
    right: 5px;
    color: var(--gray);
}
.btn-group{
    height: 40px !important;
    margin-left: 20px;
    margin-top: 22px;
}
.btn-group .btn{
    background-color: var(--rgba) !important;
    border: 1px solid var(--color);
}
.btn-group .btn:focus{
    background-color: var(--color) !important;
    color: var(--white);
    border: 1px solid var(--color);
}
/* ========= Single choice ========= */
.aa{
    display: flex !important;
    flex-wrap: wrap;
  }
.first .bandg{
    margin-top: 10px;
    border: 2px solid var(--color);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: var(--lower-weight);
    color: var(--color);
   
}

.first .bandg:hover{
    background-color: var(--color);
    color: var(--white);
}


.question-footer{
    background-color: var(--white) !important;
    padding: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    display: flex;
    justify-content: end;
    border-top:1px solid var(--color) ;
}

/* ===== tabs ====== */
.bg{
    height: 100%;
    background-color: white;
    position: relative;
    width: 270px;
}
.tabs-scroll{
    position: fixed;
    /* width: 220px; */
    overflow-X: hidden !important;
    overflow-y: scroll !important;
    max-height: 500px !important;
    /* position: fixed; */
}
.tabs-scroll::-webkit-scrollbar {
    width: 2px;
    }
    

    .tabs-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    }

    .tabs-scroll::-webkit-scrollbar-thumb {
    background: #888;
    }
@media (max-width: 1151px) {
    .answer{
        display: flex !important;
        flex-direction: column !important;
        border-bottom: 1px solid rgb(211, 211, 211);
        padding-bottom: 10px;
        margin-bottom: 25px !important;
    }
}