@import '../../../varible.css';

/* .css-19kzrtu {
    padding: 0px !important;
} */
body{
    background-color: #F8F9FB;
}
.tabb{
    margin-top: -40px;
}
.tabs-bg{
    position: relative;
    background-color: var( --theme-color);
    width: 250px;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: end;
}
.btn-tabs{
    width: 200px;
    height: 45px;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.active-t{
    background: white;
    height: 10px;
    width: 200px;
}
.inner-active-t{
    height: 100%;
    width: 100%;
    background: var(--theme-color);
    border-bottom-right-radius: 10px !important;
}
.bottom-active-t{
    height: 100%;
    width: 100%;
    background: var(--theme-color);
    border-top-right-radius: 10px !important;
}

.btn-template{
margin: 0px !important;
}
.btn-template{
    margin-right: 2px !important;
}
.css-10d9dml-MuiTabs-indicator{
    display: none !important;
}
.questions-box input{
    border-radius: 5px !important;
    background-color: var(--rgba) !important;
    border: 2px solid transparent !important;
    padding: 10px 10px !important;
}
.questions-box input:focus{
    border: 2px solid var(--color) !important;
}
.questions-box{
    font-family: var(--font) !important;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    /* background: var(--theme-color) !important; */
}
.question-head{
    border-bottom: 1px solid var(--color);
    background-color: var(--white);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}
.question-body{
    min-height: 100px !important;
    background-color: var(--white);
    padding: 10px;
}
.question-body ul li{
    list-style-type: none;
    color: var(--color) !important;
   
}
.answer{
    display: flex;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 10px;
    margin-bottom: 25px !important;
}
h6{
    color: var(--dark);
}
/* =====date answer====== */
.first{
    position: relative;
    display: flex;
    flex-direction: column;
}
label{
    font-size: var(--smaller-font);
    font-weight: var(--lower-weight);
    margin-left: 5px;
    margin-bottom: 5px;
}
.date-input{
    width: 170px !important;
}
.time input{
    width: 70px !important;
}

.time select{
    width: 100px !important;
    border-radius: 5px;
    padding: 6px 10px !important;
    background-color: var(--rgba);
    border: 2px solid transparent;
}
.time select:focus{
    border: 2px solid var(--color);
}
/* ========= Dosage ========= */
.mg{
    position: absolute;
    top: 50%;
    right: 5px;
    color: var(--gray);
}
.btn-group{
    height: 40px !important;
    margin-left: 20px;
    margin-top: 22px;
}
.btn-group .btn{
    background-color: var(--rgba) !important;
    border: 1px solid var(--color);
}
.btn-group .btn:focus{
    background-color: var(--color) !important;
    color: var(--white);
    border: 1px solid var(--color);
}
/* ========= Single choice ========= */
.aa{
    display: flex !important;
    flex-wrap: wrap;
  }
.first .bandg{
    margin-top: 10px;
    border: 2px solid var(--color);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: var(--lower-weight);
    color: var(--color);
   
}

.first .bandg:hover{
    background-color: var(--color);
    color: var(--white);
}


.question-footer{
    background-color: var(--white) !important;
    padding: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    display: flex;
    justify-content: end;
    /* border-top:1px solid var(--color) ; */
}

/* ===== tabs ====== */
.bg{
    height: 100%;
    background-color: white;
    position: relative;
    width: 270px;

}
.tabs-scroll{
    position: fixed;
    /* overflow-X: hidden !important; */
    /* overflow-y: scroll !important; */
    background-color: var(--theme-color) !important;
    /* border-bottom-left-radius: 30px;
    border-top-left-radius: 30px; */
    border-radius: 30px;
}
.tabs-scroll::-webkit-scrollbar {
    width: 2px;
    }
    

    .tabs-scroll::-webkit-scrollbar-track {
    background: #ffffff;
    }

    .tabs-scroll::-webkit-scrollbar-thumb {
    background: #ffffff;
    }
    .des{
        position: absolute;
        width: 50px;
        height: 100%;
        background-color:var(--theme-color);
        right: -50px;
    }
    .in-des{
        width: 100%;
        height: 100%;
        background-color: #F8F9FB;
        /* border-top-left-radius: 40px;
        border-bottom-left-radius: 40px; */
    }
@media (max-width: 1151px) {
    .answer{
        display: flex !important;
        flex-direction: column !important;
        border-bottom: 1px solid rgb(211, 211, 211);
        padding-bottom: 10px;
        margin-bottom: 25px !important;
    }
}