@import '../../../varible.css';

.questions-box{
    font-family: var(--font) !important;
    border-radius: 20px;
    padding: 20px;
    background: var(--theme-color) !important;
}
.question-head{
    border-bottom: 1px solid var(--color);
    background-color: var(--white);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}
.question-body{
    min-height: 100px !important;
    background-color: var(--white);
    padding: 10px;
}
.question-footer{
    background-color: var(--white) !important;
    padding: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    display: flex;
    justify-content: space-around;
    border-top:1px solid var(--color) ;
}