.user-list-row h3{
    color: var(--color);
    }
    .heading{
        color: var(--color);
    }
    .search-h{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search-h input{
      /* width: 300px !important; */
      border: 2px solid var(--color);
      border-radius: 10px;
      padding: 7px 10px !important;
    }
    .search-h input::placeholder {
      color: var(--color);
    }

    .MuiToolbar-gutters {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .lowww{
      opacity: 0.5 !important;
    }
    .bandd{
      margin: 8px 8px;
      padding: 5px 10px !important;
      background: var(--color) !important;
      color: var(--white) !important;
      border-radius:30px !important; 
      display: inline-block !important;
    }
    .actionn{
      background-color: var(--white);
      color: var(--color);
      width: 20px !important;
      height: 20px !important;
      border-radius: 20px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center; 
      margin-left: 5px !important;
      
    }
    .del , .edi{
      font-size: 18px !important;
      cursor: pointer !important;
    }
