@import '../../../varible.css';

*{
  font-family: var(--font) !important;
}
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .not-found-content {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    box-shadow: var(--box-shadow);
  }
  
  .not-found-heading {
    font-size: 3rem;
    margin: 0;
    color: var(--color);
  }
  
  .not-found-text {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
    font-weight: var(--normal-weight);
  }

  