
/* Sidebar.css */
@import '../../../varible.css';

.sidebar-content {
  width: 320px;
  font-family: var(--font) !important;
}

.toggle-btn {
  position: absolute;
  top: -50px;
  left: 10px;
  color: white;
  background: var(--theme-color) !important
}

.toggle-btn svg {
  color: white !important;
}


.sidebar-content {
  padding: 16px;
  height: 100%;
  color: white;
}

.sidebar-content li {
  padding: 8px 0;
  cursor: pointer;
}

.sidebar-content li:hover {
  background-color: #444;
}

.sidebar-content li .MuiListItemIcon-root {
  color: white;
}

/* ===manu=== */
.list-item{
  padding: 15px 15px !important;
  background-color: white !important;
  border-radius: 5px !important;
  margin-top: 15px !important;
}
.list-item{
  color: var(--gray);
  background-color: #eeeded !important;
}
.list-item:hover{
  background-color: var(--rgba) !important;
}
.list-item.active{
  background: var(--theme-color) !important;
}
.list-text{
  font-weight: var(--normal-weight) !important;
  color: var(--gray);
  margin-bottom: 0px;
}
.list-item.active .list-text , .list-item.active svg{
  color: var(--white) !important ;
}

