/* Sidebar.css */
.sidebar-content {
  width: 300px;
}

.toggle-btn {
  position: absolute;
  top: -50px;
  left: 10px;
  color: white;
  background-color: #222;
}

.sidebar-content {
  padding: 16px;
  background-color: #222;
  height: 100%;
  color: white;
}

.sidebar-content li {
  padding: 8px 0;
  cursor: pointer;
}

.sidebar-content li:hover {
  background-color: #444;
}

.sidebar-content li .MuiListItemIcon-root {
  color: white;
}

/* ===manu=== */
.list-item{
  background-color: white !important;
  border-radius: 5px !important;
  margin-top: 15px !important;
}
.list-item:hover{
  background-color: #c5c5c5 !important;
}
.list-item.active{
  background-color: #c5c5c5 !important;
}
.list-text{
  color: black;
}
