@import '../../../varible.css';

.header{
   font-family: var(--font);
   padding: 15px 10px;
   box-shadow: var(--box-shadow);
}

.icon-size{
   font-size: var(--icon-size) !important;
}

a:hover{
 color: var(--color) !important;
}
.modal-dialog {
    max-width: 800px;
}
.modal-header{
   border-bottom: 0px !important;
}
.modal-footer {
   border-top: 0px !important;
}
.btn-close:focus{
   outline: none !important;
   box-shadow: 0 0 0 0rem rgba(13,110,253,.25)
}
.lab{
   margin-bottom: -20px !important;
   padding-bottom:-20px !important ;
}
.tem-box{
   padding: 20px !important;
   border-radius: 10px !important;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--rgba);
}
.form-check-input{
   width: 30px !important;
   height: 30px !important;
}
.form-check-input:checked {
   background-color: var(--color);
   border-color: var(--color);
}
.form-check-input:focus {
   box-shadow: 0 0 0 0.25rem var(--rgba);
}

@media screen and (max-width: 600px) {
   .header-name{
      font-size: var(--smaller-font) !important;
      font-weight: var(--lower-weight) !important;
      margin-right: 0px !important;
   }
   .MuiAvatar-circular{
      width: 30px !important;
      height: 30px !important;
   }
 }
