@import '../../../varible.css';

.header{
   font-family: var(--font);
   padding: 15px 10px;
   box-shadow: var(--box-shadow);
}

@media screen and (max-width: 600px) {
   .header-name{
      font-size: var(--smaller-font) !important;
      font-weight: var(--lower-weight) !important;
      margin-right: 0px !important;
   }
   .MuiAvatar-circular{
      width: 30px !important;
      height: 30px !important;
   }
 }
